@media screen and (max-width: 372px) {
	.logo {
		height: 35px;
	}
	.navbar-btns .btn-primary {
		padding: 4px 20px;
		font-size: 14px;
	}
}
@media screen and (max-width: 523px) {
	.heroSwiper .swiper-button-next,
	.heroSwiper .swiper-button-prev {
		display: none;
	}
}

@media screen and (max-width: 918px) {
	.four-section-mobile {
		display: none;
	}
	.download-app-area,
	.benefit-area {
		padding: 50px 30px;
	}
}
@media screen and (max-width: 338px) {
	.download-info img {
		width: 100px;
		margin: 0 10px;
	}
	.book-cab-area,
	.call-us-area {
		padding: 50px 30px;
	}
}
@media screen and (max-width: 768px) {
	.benefit-area {
		clip-path: polygon(0 5%, 100% 0%, 100% 100%, 0% 100%);
		clip-path: none;
	}
	.pickup-info {
		flex-direction: column;
		align-items: flex-start;
	}
}
@media screen and (max-width: 576px) {
	.book-cab-area .text-end {
		text-align: start !important;
	}
}
@media screen and (max-width: 479px) {
	.find-cab-btn {
		font-size: 16px;
		padding: 8px 20px !important;
		width: max-content;
	}
	#formTabContent form > div {
		width: 100%;
	}
	.book-now-section {
		padding: 20px 10px;
	}
}
